# Market Reaction to Financial News: Train a model on financial news datasets to predict market movements based on news sentiment.

In [10]:
from datasets import load_dataset

dataset_50agree = load_dataset("takala/financial_phrasebank", 'sentences_50agree', trust_remote_code=True)

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.util import ngrams
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import FunctionTransformer
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier

In [33]:
dict = {'Item_1': 1, 'Item_2': 2, 'Item_3': 3, 'Item_4': 4, 'Item_5': 5, 'Item_6': 6, 'Item_7': 7, 'Item_8': 8, 'Item_9': 9, 'Item_10': 10}

In [36]:
dict.values()

dict_values([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [32]:
dataset_50agree

DatasetDict({
    train: Dataset({
        features: ['sentence', 'label'],
        num_rows: 4846
    })
})

In [14]:
df_50agree = pd.DataFrame(dataset_50agree['train'])

In [15]:
df_50agree.head()

                                            sentence  label
0  According to Gran , the company has no plans t...      1
1  Technopolis plans to develop in stages an area...      1
2  The international electronic industry company ...      0
3  With the new production plant the company woul...      2
4  According to the company 's updated strategy f...      2

In [21]:
filtered_df_label_1 = df_50agree[df_50agree['label'] == 1]

In [27]:
grouped_df = df_50agree.groupby('label').size().reset_index(name='count')

In [28]:
grouped_df

   label  count
0      0    604
1      1   2879
2      2   1363

In [30]:
sorted_df = df_50agree.sort_values(by='sentence', ascending=True)
sorted_df.head(100)

                                               sentence  label
3741  's Outokumpu Technology business will begin tr...      1
3012  ( A spokesperson told WWD to expect a 50-50 mi...      1
591   ( ADP News ) - Dec 11 , 2008 - Finnish constru...      2
3013  ( ADP News ) - Dec 11 , 2008 - Finnish power-s...      1
227   ( ADP News ) - Feb 11 , 2009 - Finnish managem...      2
...                                                 ...    ...
1487  3G data subscribers are also helping to mainta...      1
413   4 ) Complete name of the shareholder : Otto He...      1
2268  4 February 2011 - Finnish broadband data commu...      2
92    4 February 2011 - Finnish broadband data commu...      2
4578  4 February 2011 - Finnish privacy and security...      1

[100 rows x 2 columns]

In [ ]:
# Function to compute z-score for a list
def z_score(x):
    mean = np.mean(x)
    std = np.std(x)
    return [(i - mean) / std for i in x]

#or scipy.stats.zscore
# Function to compute z-score for a list
from scipy.stats import zscore
df['z_sales'] = zscore(df['sales'])

In [ ]:
# Drop rows with null values
df.dropna()

# Fill missing values
df['column'] = df['column'].fillna(0)
# Fill missing values with mean
df['column'] = df['column'].fillna(df['column'].mean())
# Fill missing values with median
df['column'] = df['column'].fillna(df['column'].median())
# Fill missing values with mode
df['column'] = df['column'].fillna(df['column'].mode()[0])
# Fill missing values with forward fill
df['column'] = df['column'].fillna(method='ffill')
# Fill missing values with backward fill
df['column'] = df['column'].fillna(method='bfill')
# Fill missing values with interpolation
df['column'] = df['column'].interpolate()
# Fill missing values with a constant
df['column'] = df['column'].fillna(0)

In [ ]:
# Profit Margin as a new column
df['profit_margin'] = df['profit'] / df['revenue']

In [ ]:
# Sales > 1000 and region == 'North'
df_filtered = df[(df['sales'] > 1000) & (df['region'] == 'North')]

In [ ]:
df = pd.read_csv('data.csv')
df.to_csv('output.csv', index=False)

In [38]:
# Sample DataFrame
data = {
    'Avg_price': [10.99, 24.50, 5.99],
    'quantity': [3, 1, 7],
    'category': ['A', 'B', 'C']
}
df = pd.DataFrame(data)


def get_revenue(df):
    
    result_df = df.copy()
    result_df['total_revenue'] = result_df['Avg_price'] * result_df['quantity']
    return result_df

# Apply the function
result_df = get_revenue(df)
print(result_df)

   Avg_price  quantity category  total_revenue
0      10.99         3        A          32.97
1      24.50         1        B          24.50
2       5.99         7        C          41.93

In [ ]:
avg_price = [df['Avg_price']]

np.float64(10.99)

In [47]:
a = [1, 2, 3, 4, 5]
df = pd.DataFrame(a)
df

   0
0  1
1  2
2  3
3  4
4  5